@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Reset Página */
* {
    margin: 0;
    padding: 0;
    font-family: Outfit, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

#principal {
    display: flex;
    height: 500px;
    max-height: 500px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
}

#conteudo-esquerda {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 0, 0);
    color: white;
    height: 500px;
    max-height: 500px;
}

#conteudo-esquerda h1  {
    margin-top: 20px;
    font-size: 22px;
    text-wrap: nowrap;
    font-weight: bold;
}

#conteudo-esquerda p {
    font-size: 18px;
    text-wrap: nowrap;
}

#login {
    font-weight: bold;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#login:hover {
    background-color: white;
    color: red;
}

#forgot {
    margin-top: 2px;
    font-size: 14px !important;
}

#conteudo-esquerda a {
    text-decoration: none;
    color: white;
}

#conteudo-esquerda a:hover {
    color: rgba(255, 255, 255, 0.8);
}

#conteudo-direita {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#conteudo-direita h1 {
    color: red;
    margin-bottom: 20px;
    font-size: 24px;
}

#conteudo-direita h2 {
    color: gray;
    margin-bottom: 10px;
    font-size: 24px;
}

#register {
    display: grid;
    gap: 10px;
    margin: 30px 0;
}

#register input {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    padding-left: 30px;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    z-index: 0;
}

#register i {
    color: gray;
    position: absolute;
    margin-top: auto auto;
    font-size: 18px;
    padding-top: 8px;
    padding-left: 5px;
}

#new-register {
    border: none;
    padding: 10px;
    background-color: rgb(209, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    width: 150px;
    cursor: pointer;
}

#new-register:hover {
    background-color: rgb(209, 0, 0, 0.75);
}