@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Reset Página */
* {
    margin: 0;
    padding: 0;
    font-family: Outfit, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-color: rgb(60, 0, 0);
}

#menu-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(209, 0, 0);
    color: white;
    padding: 0 20px;
}

#btn-home {
    font-size: 40px;
}

ul {
    display: flex;
    gap: 60px;
    text-decoration: none;
    list-style: none;
}

li {
    font-weight: 600;
}

li:hover {
    color: rgba(255, 255, 255, 0.8);
}

#principal {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 700px;
    background-color: rgb(156, 156, 156);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top: 100px;   
}

#conteudo-cima {
    display: flex;
    background-color: rgb(209, 0, 0);
    border-radius: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 150px;
}

#conteudo-cima i {
    text-align: left;
    background-color: rgb(255, 255, 255,0.3);
    padding: 0 2px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 6px;
    top: 6px;
}

#conteudo-cima i:hover {
    background-color: rgb(255, 255, 255,0.8);
    color:rgb(209, 0, 0);
}

#conteudo-cima h1, p {
    text-align: center;
    color: white;
}

#text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: auto auto;
    width: 300px;
    font-weight: 600;
    font-size: 28px;
}

p {
    font-weight: 200;
    font-size: 20PX;
}

#conteudo-baixo {
    padding: 10px 30px 15px;
}

#saida {
    display: grid;
    gap: 10px;
}

#saida input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    padding-left: 35px;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    z-index: 0;
}

#saida input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

#saida input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#saida i {
    color: gray;
    position: absolute;
    margin-top: auto auto;
    font-size: 18px;
    padding-top: 8px;
    padding-left: 5px;
}

a{
    text-decoration: none;
    color: white;
}

#registrar {
    display: flex;
    margin: 0 auto;
    height: 30px;
    padding: 0 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    background-color: red;
    color: white;
    margin-top: 30px;
    cursor: pointer;
}

#registrar:hover {
    background-color: rgb(209, 0, 0, 0.75);
}